* {
    font-family: 'Ubuntu', sans-serif;
}

p {
    text-align: center;
}

main {
    margin-top: 20px;
}

a:hover {
    text-decoration: none;
}

/*code welkom*/
.links h2 {
    color: #EB8028;
    font-weight: 700;
    margin-top: 3.0rem;
    margin-bottom: 0rem;
    text-align: center;
    font-size: 3rem;
}

h2 {
    font-size: 40px;
    color: black;
}

.list-group-item {
    font-size: 1.1rem;
    text-align: center;
    padding: 1rem 3rem;
}

.list-group-item.active {
    background-color: #EB8028;
}

.list-group {
    margin: 3rem 0rem;
    border-radius: 0.4rem;
}

.carousel-item img {
    width: 225px;
    height: 150px;
    object-fit: contain;
    background-color: #EB8028;
}

footer {
    background-color: #EB8028;
    padding-top: 2rem;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-control-next:hover,
.carousel-control-prev:hover {
    opacity: 0;
}

.facebook {
    font-size: 2.4rem;
    color: #4267B2;
}

.facebook a {
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.badeendjes {
    margin: 2rem 0rem;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}
