
/*rem instelling*/
body{
  font-size: 62.5%;
}

/*achtergrond image optioneel

body  {
  background-image: 
    linear-gradient(
      rgba(131, 131, 131, 0.5),
      rgba(131, 131, 131, 0.5)
    )
  ,url("../images/background_piste.png");
  background-repeat: repeat;  
  background-attachment: fixed;
}

*/

body{
  background-color: #fff6d9a8;
}


/*kop*/

@font-face {
  font-family: myfont;
  src: url(berlin-sans-fb-demi-bold.TTF);}

 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');
  


.title{
  margin-top: 20px;
}

.title h1{
  font-size: 3.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color:black;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1), 
               0px 0px 8px rgba(240, 224, 59, 1);
}

header {
  
  text-align: center;
  position: static;
  display: flex;
  flex-direction: column;
}

#header {
  background-color: #EB8028;
  overflow: hidden;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  
}

#logo {
  overflow: hidden;
}

#logo img {
    height: 100px;
}

.button{
  background-color: #D44719 !important;
  border-color: #D44719 !important;
  color: #ffffff !important;
  margin: 1rem !important;
}

.blackline {
  background-color:#D44719;
  height: 5px;
  padding: 0px;
}


/*nav-items*/
.nav-link{
  padding: 10px 40px;
  border-radius: 1rem;
  border-color: #EB8028;
  background-color:#EB8028;
  margin: 0.1rem 0.5rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}

.nav-link:hover{
  background-color:#FFA812;
  color: white;
}

.dropdown-menu{
  border-radius: .5rem;
  background-color:#FFA812;
}

.dropdown-item:hover{
 background-color: #f5CA38;
}

.here {
  background-color: #D44719;
  color: white;
}


/*code sponsers*/
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-sponsers {
  max-width: 250px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/33 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.carousel-item img {
    width: 225px;
    height: 150px;
    object-fit: contain;
    background-color: #EB8028;
}

footer {
    background-color: #EB8028;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    border-top:0.25rem solid;
    border-color: #D44719;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-control-next:hover,
.carousel-control-prev:hover {
    opacity: 0;
}

.row {
        margin-left: 0rem;
}