.card-header {
    background-color: #EB8028 !important;
    color: white !important;
}

.btn-primary {
    background-color: #D44719 !important;
    border: none !important;
}

.organisatie {
    color: #EB8028 !important;
    height: 500px;
    background-color: transparent;
    transition: all 0.5s ease;
}

.organisatie:hover {
    color: black !important;
    background-color: #EB8028;
    background-blend-mode: screen;
    text-decoration: none;
}

#bestuur {
    background-image: url(../images/bestuur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#trainers{
    background-image: url(../images/trainer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.row *{
    align-content: space-between;
}
.tekstkleur{
    color: #EB8028 !important;
}
.card .card-body .card-text a{
   text-decoration: underline;
}
.w-30{
    width: 33%;
}
#compleet{
    height: 60vh;
}